<%- include("partials/header") -%>

<div class="box">
    <div class="heading">
    <span class="f">F </span><span class="l">L </span><span class="a">A </span><span class="m">M </span><span class="e">E </span><span class="s">S </span>
</div>
<form class="item" action="/result" method="post">
    <label>Name1:</label>
    <input name="name1" autocomplete="off"><br>
    <label>Name2:</label>
    <input name="name2" autocomplete="off"><br>
    <button type="submit">Check</button>
</form>
</div>

<%- include("partials/footer") -%>